<!DOCTYPE html>
<html>
	<head>
		<title> {{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
			<li> <a href="https://www.gatech.edu/"><img src="/image/gt-logo-gold.png " title="Georgia Tech logo" width="100" />  </a></li>
			<li><a href="/">Home</a></li>
	        	<li><a href="/group">Group</a></li>
	        	<li><a href="/research">Research</a></li>
			<li><a href="/opportunities">Opportunities</a></li>
        		<li><a href="/publications">Publications</a></li>
        		<li><a href="/news">News</a></li>
        		<li><a href="/contact">Contact</a></li>
    		</ul>
		</nav>
		<div class="container">
        		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:jssim@eas.gatech.edu">email</a></li>
        		<li><a href="https://github.com/joycesim">github.com/joycesim/</li>
			</ul>
		</footer>
	</body>
</html>
